.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-logo {
    width: 100%;
    padding: 5%;
    margin-bottom: 20%;
}

.sidebar-logo-img {
    width: 100%;
}

.sidebar-logo-option {
    width: 20%;
    height: 20%;
    padding-right: 5%;
    fill: white;
}

.list-options {
    padding-left: 5%;
    padding-right: 5%;
    list-style-type: none;
}

.content {
    width: 80%;
    background-color: #CFD8DC;
    color: #212121;
}

.list {
    width: 100%;
}

.list-lender {
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.list-wrapper {
    padding: 5%;
}

.top-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 3%;
}

.add-lender-left {
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    flex-basis: 70%;
}

.add-lender-text {
    margin-bottom: 0;
}

.add-lender-img {
    padding-left: 3%;
}

.add-lender-right {
    width: 100%;
    display: flex;
    color: #212121;
    cursor: pointer;
    flex-direction: row-reverse;
    flex-basis: 30%;
    align-items: center;
    margin-bottom: 0;
}

.form-address {
    display: flex;
    flex-direction: row;
}

.form-address-left {
    width: 100%;
    padding-right: 1%;
}

.form-address-middle {
    width: 100%;
}

.form-address-right {
    width: 100%;
    padding-left: 1%;
}

.form-address-lat-lon {
    width: 100%;
    display: flex;
}

.form-address-lat-left {
    width: 100%;
    padding-right: 1%;
    flex-basis: 40%
}

.form-address-lat-middle {
    width: 100%;
    padding-left: 1%;
    flex-basis: 30% ;
}

.form-address-lat-right {
    width: 100%;
    padding-left: 1%;
    flex-basis: 30%;
}

.basic-multi-select {
    width: 100%;
}

.hr-addr {
    border-top: 1px solid #212121;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #212121;
    margin: 1em 0;
    padding: 0;
}

.address {
    display: flex;
    flex-direction: column;
}

.new-lender {
    padding-bottom: 3%;
    font-weight: bold;
}

.email-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-bottom: 3%;
}

.add-email-left {
    width: 100%;
    margin-bottom: 0;
    flex-basis: 70%;
}

.add-email-right {
    width: 100%;
    display: flex;
    cursor: pointer;
    color: #212121;
    flex-direction: row-reverse;
    flex-basis: 30%;
    align-items: flex-end;
    margin-bottom: 0;
}

.add-email-text {
    font-size: smaller;
    margin-bottom: 0;
}

.add-email-img {
    padding-left: 3%;
}

.form-group {
    padding-bottom: 2%;
}

.multiple-fields {
    padding-bottom: 1%;
}

.button-submit {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #FFFFFF;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
}

.custom-error-message {
    margin-top: .25rem;
}

.mapouter{
    display: flex;
    justify-content: center;
    position:relative;
    text-align:right;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}

.filters {
    width: 100%;
    display: flex;
    font-size: medium;
    justify-content: space-between;
    padding-bottom: 3%;
}

.filters-img {
    width: 4%;
}

.filters-name {
    width: 30%;
    flex-shrink: 1;
}

.filters-speciality {
    width: 30%;
    flex-shrink: 1;
}

.filters-plan {
    width: 30%;
    flex-shrink: 1;
}


