.items {
    padding-left: 10%;
    margin-bottom: 0;
}

.items-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
}

.items-field {
    font-size: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-left: .5em;
}

.card-container {
    padding-left: 2%;
    padding-right: 2%;
}

.card-buttons {
    text-align: -webkit-right;
}

.card-buttons-size {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.modify-button-card {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #FFFFFF;
}